{% extends "app/base.html" %}

{% block content %}
  <h1>Fakturownia</h1>
  <p>
    Welcome to Fakturownia, a website developed by
    <em>Przemyslaw Kaczmarek</em>!
  </p>
  <h2>Statistics</h2>
  <p>The database has the following record counts:</p>
  <ul>
    <li><strong>Customers:</strong> {{ num_customers }}</li>
    <li><strong>Materials:</strong> {{ num_materials }}</li>
    <li><strong>Companies:</strong> {{ num_companies }}</li>
    <li><strong>Invoices:</strong> {{ num_invoices }}</li>
  </ul>
{% endblock %}